.home-background {
    height: 100%;
    width: 100%;
    background:      
        linear-gradient(
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 0.4)
        ),
        url(..\assets\DowntownDining_CactusClub.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* .home-content {
    border: 3px red solid;
} */

h1, h3 {
    color: white;
    margin-top: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5em;
}

hr {
    width: 100%;
    background-color: white;
    padding-top: 0px;
    margin-top: 0px;
}