
.input-bar {
    text-align: center;
    padding: 30px;
    margin-top: 50px;

    /* border: solid blue 2px; */
}

.sub-input-bar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
    /* padding: 0; */

    /* border: solid 2px purple; */
}

input, select {
    border-radius: 8px;
    width: 125px;
    font-size: 1em;
    margin: 3px;
    text-align: center;

    /* margin: 0;
    padding: 0; */

    /* border: solid blue 1px; */
}

.inline {
    display: inline-block;
}

.center-submit {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
}

.input-submit {
    margin-left: 20px;
}


.country-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;;
    padding: 0;

    height: 100%;
    /* border: 2px solid red; */
}
.country-img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 50px;
}