
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
    overflow: hidden;
    background-color: #333;
    text-decoration: none !important;
}

.navbar li {
    float: right;
    margin-top: 10px;
    padding: 0px 15px 0px 15px;
}
.navbar li:first-child {
    margin-right: 50px;
}
.navbar li a:hover:not(.active) {
    color: #999999;
}

.navLink {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none !important;
}