body {
    background-color: #fff2e6;
}

.result-container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.result-detail-container {
    margin: auto;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffce99;
}

.result-detail-container-table {
    display: table-row;
    margin: auto;
}

.side-result-container {
    display: table-cell;
    vertical-align: top;
    border-radius: 7px;
    padding: 15px;
    height: 80vh;
}

.left-side {
    width: 50%;
}

.right-side {
    width: 44%;
}

.contact-hours-photo-container {
    border-radius: 7px;
    margin: 0;
    padding-bottom: 5px;
    background-color: #fff3e6;
}

.contact-hours-container {
    display: flex;
    padding: 20px;
}

#main-img-container {
    width: 100%;
    height: 125px;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
}
#main-img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 100%;
}

#restaurant-name {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    text-align: left;
    border-radius: 7px;
    background-color: #fff3e6;
}

#restaurant-hours {
    vertical-align: top;
    text-align: left;
}

#restaurant-contact {
    vertical-align: top;
    text-align: left;
    line-height: 1.5em;
    width: 55%;

}

.rating-time-container {
    display: flex;
    justify-content: space-between;
}

.time-description {
    margin-right: 25px;
}

#skipButton {
    margin: 25px;
    background-color: #ff4d4d;
    color: white;
}

.end-result-container {
    font-size: 1.5em;
}