.reviews-container {
    /* display: flex; */
    text-align: left;
    padding: 10px;
    border-radius: 7px;
    overflow: auto;
    /* height: 80vh; */
    height: 100%;
    background-color: #ffdab3;

    /* border: blue solid 1px; */
}

.review {
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    background-color: #ffe6cc;
    /* border: black 1px solid; */
}

.sort-reviews {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.star-container {
}

.star {
    width: 10px;
    height: 10px;
    margin: 2px;
}